@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


html{
	scroll-behavior: smooth;

	/*   *** Storing Colors In Variables ***   */
	--bg-clr-one: #fffdfb;
	--bg-clr-two: #fffbf4;
	--bg-clr-three: #eef1f6;
	--primary-clr: #070707;
	--gold-clr: #DAA520;
	--primary-light-clr: #eaf3fa;
	--links-clr: #0f0f0f;
	--text-clr: #0f0f0f;
	--secondary-heading: #151515;
}
.message{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message img{
    height: 200px;
}

.message h1, p, img{
    text-align: center;
    padding: 5px;
    }

.message h1, p{
    color: #091809;
    }

.message p{
    font-weight: 600;
    }

.fa-cannabis{
    padding-right: 5px;
}

.fa-cannabis:hover{
    color: white;
}

.message a > button {
    border: 1px solid #091809;
    background: transparent;
    padding: 5px 10px;
    border-radius: 50px;

}

.message a > button:hover {
    background: #091809;
    color: white;

}

/*NAVBAR STYLING STARTS HERE*/

.navbar{
    background: #e9ffe9;
}

.navbar-toggler{
    border: none;
}

.navbar-collapse > form > button{
    border: none;
    background: none;
}




@media only screen and (max-width: 600px) {
    .message img{
        height: 150px;
    }

    .message a > button {
        width: 100%;
    }




}