<div class="container-fluid analytics-outer">
    <div class="container">
        <h5>Admin/Dashboard</h5>
        <div class="analytics">
        <div class="card" style="width: 14rem;">
          <div class="card-body admin-card">
            <h5 class="card-title">Orders</h5>
              <hr>
            <h6 class="card-subtitle mb-2 text-body-secondary">43</h6>
            <a href="{% url 'orders' %}" class="card-link">View orders</a>
          </div>
        </div>
        <div class="card" style="width: 14rem;">
          <div class="card-body admin-card">
            <h5 class="card-title">Users</h5>
              <hr>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ userscount }}</h6>
            <div class="straincardlinks">
                <a href="#" class="card-link">View Users</a>
            </div>

          </div>
        </div>
        <div class="card" style="width: 14rem;">
          <div class="card-body admin-card">
            <h5 class="card-title">Strains</h5>
              <hr>
            <h6 class="card-subtitle mb-2 text-body-secondary"> {{ straincount }}</h6>
            <div class="straincardlinks">
                <a href="{% url 'strains' %}" class="card-link">View strains</a>
                <a href="{% url 'addstrain' %}" class="card-link">Add strain</a>
            </div>
          </div>
        </div>
        <div class="card" style="width: 14rem;">
          <div class="card-body admin-card">
            <h5 class="card-title">Completed orders</h5>
              <hr>
            <h6 class="card-subtitle mb-2 text-body-secondary">43</h6>
            <a href="#" class="card-link">View completed orders</a>
          </div>
        </div>
    </div>
    </div>

    </div>