{% extends 'base.html' %}

{% block pagetitle %} Medicinal/add strain {% endblock %}

{% block landingSection %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card auth_card_outer">
                    <div class="card-header">
                        Add strain
                    </div>
                    <div class="card-body auth_cards">
                        <form action="/addStrainToDb" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="mt-2">
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show mt-2 mb-2" role="alert">
                                      <i class="fa-solid fa-circle-check" style="margin-left: 5px"></i>{{ message }}
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="mt-2">
                                <label for="strain_name" >Strain name</label>
                                <input type="text" name="strain_name" id="strain_name" required class="form-control">
                            </div>
                            <div class="mt-2">
                                <label for="thc">THC</label>
                                <input type="text" name="thc" id="thc" required class="form-control">
                            </div>
                            <div class="mt-2">
                                <label for="effect">Effect</label>
                                <select name="effect" id="effect" class="form-control">
                                    <option value="">---</option>
                                    <option value="Energised">Energised</option>
                                    <option value="Happy">Happy</option>
                                    <option value="Hungry">Hungry</option>
                                    <option value="Sleepy">Sleepy</option>
                                    <option value="Talkative">Talkative</option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <label for="cost_blunt">Cost/blunt</label>
                                <input type="number" name="cost_blunt" id="cost_blunt" required class="form-control">
                            </div>
                            <div class="mt-2">
                                <label for="product_image">Product image</label>
                                <input type="file" name="product_image" id="product_image" accept="image/*" required class="form-control">
                            </div>
                            <div class="mt-4">
                                <input type="submit" name="add_strain" id="add_strain" value="Add strain" class="btn btn-success">
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}