{% extends 'base.html' %}

{% block pagetitle %} Reset password {% endblock %}
{% load static %}

{% block landingSection %}

    <div class="container" style="height: 80vh">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card auth_card_outer">
                    <div class="card-header">
                        Reset password
                    </div>
                    <div class="card-body auth_cards">
                        <form action="#" method="post">
                            {% csrf_token %}

                            <div class="mt-2">
                                <label for="email">Enter the email you registered with</label>
                                <input type="email" name="email" id="email" required class="form-control">
                            </div>
                            <div class="mt-4">
                                <input type="submit" name="resetpassword" id="resetpassword" value="Reset password" class="btn btn-success">
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}